name: CI Pipeline

on:
  push:
      branches:
       - main
       
jobs:
  test:
    run-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Setup Node.js
        uses: actions/setup-node@v3
        
      - name: Install Dependencies
        run: npm install 
        
      - name: Run Tests
        run: npm install